@model List<WeightTracker.Models.AdminPanelUser>
@{
   ViewData["Title"] = "Admin Panel";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Panel</h1>


<table class="table">
      <thead>
         <tr>
            <th>
               Email
            </th>
            <th>
               Is Admin
            </th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         @foreach (var item in Model)
         {
            <tr>
               <td>
                  @Html.DisplayFor(modelItem => item.Email)
               </td>
               <td>
                  @Html.DisplayFor(modelItem => item.IsAdmin)
               </td>
               <td>
                  <a asp-action="Edit" asp-route-id="@item.Id"></a>
                  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
               </td>
            </tr>
         }
      </tbody>
   </table>
