@model WeightTracker.Entities.MeasurementRecord

@{
   ViewData["Title"] = "Create";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create measurement</h1>

<hr />
<div class="row">
   <div class="col-md-4">
      <form asp-action="Create">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="form-group">
            <label asp-for="Chest" class="control-label"></label>
            <input type="number" asp-for="Chest" class="form-control" />
            <span asp-validation-for="Chest" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Biceps" class="control-label"></label>
            <input type="number" asp-for="Biceps" class="form-control" />
            <span asp-validation-for="Biceps" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Waist" class="control-label"></label>
            <input type="number" asp-for="Waist" class="form-control" />
            <span asp-validation-for="Waist" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Hips" class="control-label"></label>
            <input type="number" asp-for="Hips" class="form-control" />
            <span asp-validation-for="Hips" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Thigh" class="control-label"></label>
            <input type="number" asp-for="Thigh" class="form-control" />
            <span asp-validation-for="Thigh" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Calf" class="control-label"></label>
            <input type="number" asp-for="Calf" class="form-control" />
            <span asp-validation-for="Calf" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Height" class="control-label"></label>
            <input type="number" asp-for="Height" class="form-control" />
            <span asp-validation-for="Height" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Weight" class="control-label"></label>
            <input type="number" asp-for="Weight" class="form-control" />
            <span asp-validation-for="Weight" class="text-danger"></span>
         </div>
         <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
         </div>
      </form>
   </div>
</div>

<div>
   <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
